/* Coolors Exported Palette - https://coolors.co/fcf7f8-ec4e20-5b616a-210124-63b0cd */

/* CSS */
--snow: hsla(348, 2%, 99%, 1);
--flame: hsla(14, 86%, 93%, 1);
--black-coral: hsla(216, 14%, 42%, 1);
--dark-purple: hsla(295, 97%, 14%, 1);
--maximum-blue: hsla(196, 52%, 80%, 1);

/* SCSS HEX */
$snow: #fcf7f8ff;
$flame: #ec4e20ff;
$black-coral: #5b616aff;
$dark-purple: #210124ff;
$maximum-blue: #63b0cdff;

/* SCSS HSL */
$snow: hsla(348, 2%, 99%, 1);
$flame: hsla(14, 86%, 93%, 1);
$black-coral: hsla(216, 14%, 42%, 1);
$dark-purple: hsla(295, 97%, 14%, 1);
$maximum-blue: hsla(196, 52%, 80%, 1);

/* SCSS RGB */
$snow: rgba(252, 247, 248, 1);
$flame: rgba(236, 78, 32, 1);
$black-coral: rgba(91, 97, 106, 1);
$dark-purple: rgba(33, 1, 36, 1);
$maximum-blue: rgba(99, 176, 205, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-right: linear-gradient(90deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-bottom: linear-gradient(180deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-left: linear-gradient(270deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-top-right: linear-gradient(45deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-bottom-right: linear-gradient(135deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-top-left: linear-gradient(225deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-bottom-left: linear-gradient(315deg, #fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);
$gradient-radial: radial-gradient(#fcf7f8ff, #ec4e20ff, #5b616aff, #210124ff, #63b0cdff);