/* CSS */
--vermilion: hsla(0, 100%, 91%, 1);
--smoky-black: hsla(30, 89%, 7%, 1);
--magnolia: hsla(240, 4%, 100%, 1);
--burlywood: hsla(36, 42%, 85%, 1);
--gamboge: hsla(42, 98%, 83%, 1);

/* SCSS HEX */
$vermilion: #e90000ff;
$smoky-black: #120a02ff;
$magnolia: #f5f5ffff;
$burlywood: #d8b47eff;
$gamboge: #d49705ff;

/* SCSS HSL */
$vermilion: hsla(0, 100%, 91%, 1);
$smoky-black: hsla(30, 89%, 7%, 1);
$magnolia: hsla(240, 4%, 100%, 1);
$burlywood: hsla(36, 42%, 85%, 1);
$gamboge: hsla(42, 98%, 83%, 1);

/* SCSS RGB */
$vermilion: rgba(233, 0, 0, 1);
$smoky-black: rgba(18, 10, 2, 1);
$magnolia: rgba(245, 245, 255, 1);
$burlywood: rgba(216, 180, 126, 1);
$gamboge: rgba(212, 151, 5, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-right: linear-gradient(90deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-bottom: linear-gradient(180deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-left: linear-gradient(270deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-top-right: linear-gradient(45deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-bottom-right: linear-gradient(135deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-top-left: linear-gradient(225deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-bottom-left: linear-gradient(315deg, #e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
$gradient-radial: radial-gradient(#e90000ff, #120a02ff, #f5f5ffff, #d8b47eff, #d49705ff);
